:root {
    --jumbotron-padding-y: 2rem;
  }
  
  .jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    min-height: auto;
    background-color: transparent;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 1);
      padding-bottom: calc(var(--jumbotron-padding-y) * 1);
    }
  }
  

  @media (max-width: 380px) {
  footer p {
   display: none;
  }

  footer{
    margin-top: 200px;
  }


  .jumbotron {
    padding-top: 0;
    margin-top: 0;
  }

  .main-video-wrapper {
    height:100vh;
    overflow: auto;
  }

}


  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
  
  footer p {
    margin-bottom: 0;
  }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  


  .bg-blue {
    background-color: 
    #026fc2 !important;
}


.grey-text{
  color: #262626;
  }
  

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(38, 38, 38, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}




.text-white {
  color: white;
}

.bg-white{
  background-color: white;
}

.main-video-wrapper {
  position:absolute;
  top:0;
  left:20;
  width:100%;
  height:100vh;
  overflow:hidden;
  z-index: -8;
 
}


.main-video-wrapper video {
  min-height:100%;
  min-width:100%;
}



.main-video-overlay {
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:-1;
  /* background:#e9dfa4a4; */
  background: #262626;
  opacity:0.235;
}


#main {
  display:flex;
  justify-content: center;
  align-items:center;
  display: relative;
}

.jumbotron {
  z-index: 10;
  padding-top: 150px;
}


footer {
  display: relative;
  z-index:20;
  font-size: 12.5px;
}


#main {
  padding-bottom: 0;
}


.btn {
  border-radius: 0;
}


.btn-outline-primary {
  color:white;
  background-color: transparent;
  background-image: none;
  border-color:white;
}